on:
  push:
    branches: [main, master]

name: "Check NetLogo Manually (Release Version)"

permissions: read-all

jobs:
  check-netlogo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup NetLogo
        uses: danielvartan/netlogo-actions/setup-netlogo@v1

      - name: Run Experiment 1
        run: |
          # Run Experiment 1
          model_dir="$NETLOGO_HOME/models/Sample Models/Biology"
          model_file="Wolf Sheep Predation.nlogox"
          experiment_name="Wolf Sheep Crossing"
          table_file="/tmp/table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Run Experiment 2
        run: |
          # Run Experiment 2
          model_dir="$NETLOGO_HOME/models/Curricular Models/GenEvo"
          model_file="Synthetic Biology - Genetic Switch.nlogox"
          experiment_name="Sample-Experiment"
          table_file="/tmp/table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"

      - name: Run Experiment 3
        run: |
          # Run Experiment 3
          model_dir="$NETLOGO_HOME/models/IABM Textbook/chapter 6"
          model_file="Spread of Disease.nlogox"
          experiment_name="population-density"
          table_file="/tmp/table.csv"

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
