on:
  push:
    branches: [main, master]

name: Run BehaviorSpace experiments

permissions: read-all

jobs:
  run-experiments:
    name: Run experiments
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up NetLogo
        uses: danielvartan/logoactions/setup-netlogo@v1

      - name: Create artifacts directory
        run: |
          # Create artifacts directory

          mkdir -p '/tmp/artifacts'
        shell: bash

      - name: Run experiment 1
        run: |
          # Run experiment 1

          model_dir="$NETLOGO_HOME/models/Sample Models/Biology"
          model_file='Wolf Sheep Predation.nlogox'
          experiment_name='Wolf Sheep Crossing'
          table_file='/tmp/artifacts/experiment-1-table.csv'

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 2
        run: |
          # Run experiment 2

          model_dir="$NETLOGO_HOME/models/Curricular Models/GenEvo"
          model_file='Synthetic Biology - Genetic Switch.nlogox'
          experiment_name='Sample-Experiment'
          table_file='/tmp/artifacts/experiment-2-table.csv'

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 3
        run: |
          # Run experiment 3

          model_dir="$NETLOGO_HOME/models/IABM Textbook/chapter 6"
          model_file='Spread of Disease.nlogox'
          experiment_name='population-density'
          table_file='/tmp/artifacts/experiment-3-table.csv'

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Run experiment 4
        run: |
          # Run experiment 4

          model_dir="$NETLOGO_HOME/models/IABM Textbook/chapter 7"
          model_file='Voting Sensitivity Analysis.nlogox'
          experiment_name='sensitivity-experiment'
          table_file='/tmp/artifacts/experiment-4-table.csv'

          netlogo \
            --headless \
            --model "$model_dir/$model_file" \
            --experiment "$experiment_name" \
            --table "$table_file"

          cat "$table_file"
        shell: bash

      - name: Run experiment 5
        run: |
          # Run experiment 5

          model_dir="$NETLOGO_HOME/models/Curricular Models/BEAGLE Evolution"
          model_file='Red Queen.nlogox'
          experiment_name='Final Counts'
          table_file='/tmp/artifacts/experiment-5-table.csv'

          netlogo \
            --headless \
            --model "${model_dir}/${model_file}" \
            --experiment "${experiment_name}" \
            --table "${table_file}"

          cat "${table_file}"
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: experiments-output
          path: '/tmp/artifacts/'
          retention-days: 90
