on:
  push:
    branches: [main, master]

name: "setup-netlogo-test"
description: "Test workflow for setup-netlogo action."

permissions: read-all

jobs:
  setup-netlogo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["7.0.0", "7.0.2"] # 6.4.0
        cache: ["true", "false"]
    name: NetLogo ${{ matrix.version }} (cache=${{ matrix.cache }})
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup NetLogo
        uses: ./setup-netlogo
        with:
          version: ${{ matrix.version }}
          architecture: "64"
          cache: ${{ matrix.cache }}

      - name: Test NetLogo Installation
        run: |
          if [ "${{ matrix.version }}" = "6.4.0" ]; then
            MODEL_EXT="nlogo"
          else
            MODEL_EXT="nlogox"
          fi

          MODEL_PATH="$NETLOGO_HOME/models/Sample Models/Biology"
          MODEL_FILE="Wolf Sheep Predation.$MODEL_EXT"

          netlogo \
            --headless \
            --model "$MODEL_PATH/$MODEL_FILE" \
            --experiment "Wolf Sheep Crossing" \
            --table /tmp/output.csv

          cat /tmp/output.csv
        shell: bash
